
header{
    padding: 40px;
    background-image: url(../img/wall.png);
}

body{
    background-image: url(../img/cork.png);
}


h1{
  font-family: "Edu TAS Beginner", cursive;
  font-size: 70px;
}

h5{
    font-family: "Sometype Mono", monospace;
}


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
.element{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 15%;
    left: 25%;
}

.scroll{
    overflow: hidden;
}
